@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: local('Raleway'),
		url('./raleway/raleway-v19-latin-regular.woff2') format('woff2'),
		url('./raleway/raleway-v19-latin-regular.woff') format('woff');
}
